/*
.IBmenu
{
	width: 100%;
	height: 32px;
	background-image:url(images/top_menu_back.gif);
	background-repeat:repeat-x;
	float:left;
	margin-top:-2px;
	background-color:White;
	padding:0;
}

.left_menu_back
{
	height: 32px;
	width: 8px;
	background-image:url(images/left_top_menu_back.gif);
	float:left;
}

.right_menu_back
{
	height: 32px;
	width: 7px;
	background-image:url(images/right_top_menu_back.gif);
	float:right;
}

.menu_button
{
	height: 32px;
	float:right;	
	margin-right: 20px;	 
}

.menu_button li
{
	height: 32px;
	background-image:url(images/button.gif);
	background-repeat:no-repeat;
	float:right;
	display:block;
	list-style:none;
	
	
}

.menu_button li a
{
	height: 32px;	 
	display:block;
	padding-top: 10px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	padding-right: 12px;
	padding-left: 12px;
}


.menu_button li a:hover
{
	color:#fff;
	background-image:url(images/top_menu_back_active.gif);	
	background-repeat:repeat-x;
	height: 32px;	
}

