<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3" version="3.5.1" targetFramework="net472" developmentDependency="true" />
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package id="Antlr3.StringTemplate" version="3.4.1.9005" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="CoreCLR-NCalc" version="2.2.110" targetFramework="net472" />
  <package id="DayPilot" version="5.0.303" targetFramework="net472" />
  <package id="DevExpress.Data" version="21.2.6" targetFramework="net472" />
  <package id="EPPlus" version="6.1.1" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net472" />
  <package id="eXpandLib" version="22.1.602" targetFramework="net472" />
  <package id="eXpandSystem" version="22.1.602" targetFramework="net472" />
  <package id="eXpandSystemWeb" version="22.1.602" targetFramework="net472" />
  <package id="Fasterflect.Xpand" version="2.0.7" targetFramework="net472" />
  <package id="FredCK.FCKeditorV2" version="2.6.3.22451" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.2.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.2.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="ncalc" version="1.3.8" targetFramework="net40" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net472" />
  <package id="OfficeOpenXml.Extends" version="1.0.6.0" targetFramework="net472" />
  <package id="QRCoder" version="1.4.3" targetFramework="net472" />
  <package id="SharpZipLib" version="1.4.1" targetFramework="net472" />
  <package id="Stimulsoft.LibExcel" version="2022.4.1" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Engine" version="2023.1.2" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Web" version="2023.1.2" targetFramework="net472" />
  <package id="Stimulsoft.Svg" version="2023.1.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net472" />
  <package id="System.Management" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.6" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TextCopy" version="6.1.0" targetFramework="net472" />
  <package id="Xpand.Extensions" version="4.221.11" targetFramework="net472" />
  <package id="Xpand.Extensions.Mono.Cecil" version="4.221.11" targetFramework="net472" />
  <package id="Xpand.Extensions.XAF" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.Extensions.XAF.Xpo" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.Patcher" version="3.0.17" targetFramework="net472" />
  <package id="Xpand.VersionConverter" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.CloneMemberValue" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.CloneModelView" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.HideToolBar" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.ModelMapper" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.PositionInListView" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.ProgressBarViewItem" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.Reactive" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.Reactive.Logger" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.RefreshView" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.SequenceGenerator" version="4.222.1" targetFramework="net472" />
  <package id="Xpand.XAF.Modules.ViewItemValue" version="4.222.1" targetFramework="net472" />
</packages>