html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    font-weight: 500;
}

main {
    background: url(/images/BackgroundLogin.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 40px;
    padding-right: 40px;
}

p {
    margin: 0 0 4px;
}

a {
    color: #FFF;
}

    a:focus, a:hover {
        text-decoration: none;
        color: #FFF;
    }

@media (min-width: 1200px) {
    a {
        color: #FFF;
        white-space: nowrap;
    }

}

.navbar {
    background-color: #7A58BF;
    color: #1f2d3d;
    margin: 0;
    /*    height: 44px;*/
    display: block;
    border-radius: 0px;
}

.navbar-nav {
    /*display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
    list-style: none;
    display: inline-block;
}


.navbar .navbar-nav .nav-item {
    margin: 0;
    color: #ffffff;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    margin: 13px auto;
    display: inline-block;
    padding: 0 10px;
}

    .navbar .navbar-nav .nav-item i {
        padding: 5px;
    }

    .navbar .navbar-nav .nav-item img {
        width: 25px;
        height: 15px;
    }

.navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-right {
    margin-left: auto !important;
    float: right;
    /*    display: block;*/
    display: inline-block;
}

@media (max-width: 600px) {
    .language {
        display: none;
    }

}
/*.content {
    padding: 40px;
}*/
.text-center {
    text-align: center;
}

.login-pic {
    width: 316px;
    height: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.left {
    height: calc(100vh - 180px);
}

.right {
    height: calc(100vh - 180px);
}

.info {
    bottom: -40px;
    left: 0;
    position: absolute;
}

    .info .name {
        font-size: 28px;
        color: #2D663D;
        font-weight: 900;
    }

    .info .title {
        text-transform: uppercase;
        color: #2D663D;
        font-weight: bold;
    }

    .info .boldtext {
        font-size: 16px;
    }

    .info .normaltext {
        font-size: 16px;
        color: #212529;
    }

#overflowtext {
    white-space: initial;
}

.wrap-login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-login {
    width: 420px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
    background-color: rgb(56 12 112 / 85%);
    margin: auto;
}

    .box-login .form-input {
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px 0;
        clear: both;
    }

    .box-login .title {
        text-align: left;
        font-size: 34px;
        color: #ffffff;
        font-weight: 900;
    }

    .box-login .title-login {
        color: white;
        text-align: center;
        font-size: 14px;
        height: 50px;
        margin-top: 5px;
    }

    .box-login .wranning {
        color: #FFF;
    }

    .form-validate .imgValidate {
        float: left;
        width: 40%;
        margin-right: 5%;
        height: 31px;
        border-radius: 5px;
    }

.form-validate .divtext {
    float: left;
    width: 55%;
}

.box-login .form-input .button-login {
    margin-top: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.smbutton {
    width: 100%;
    background: #7A58BF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    height: 37px;
    border: none;
    outline: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .info {
        bottom: -20px;
        left: 0;
        position: absolute;
    }
}

@media (min-width: 992px) and (max-width: 1400px){
    

        .info .name {
            font-size: 22px;
            color: #2D663D;
            font-weight: 900;
        }

        .info .title {
            text-transform: uppercase;
            color: #2D663D;
            font-weight: bold;
        }

        .info .boldtext {
            font-size: 13px;
        }

        .info .normaltext {
            font-size: 13px;
            color: #212529;
            white-space: nowrap;
        }

    .wrap-login {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .box-login {
        width: 380px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        background-color: rgb(56 12 112 / 85%);
        margin: auto;
    }

        .box-login .form-input {
            margin-left: 40px;
            margin-right: 40px;
            padding: 10px 0;
            clear: both;
        }

        .box-login .title {
            text-align: left;
            font-size: 34px;
            color: #ffffff;
            font-weight: 900;
        }

        .box-login .title-login {
            color: white;
            text-align: center;
            font-size: 13px;
            height: 50px;
            margin-top: 5px;
            text-align: left;
            font-weight: bold;
        }

    .form-validate .imgValidate {
        float: left;
        width: 40%;
        margin-right: 5%;
        height: 31px;
        border-radius: 5px;
    }

    .form-validate .divtext {
        float: left;
        width: 55%;
    }

    .box-login .form-input .button-login {
        width: 100%;
        margin-bottom: 10px;
    }

    .smbutton {
        width: 100%;
        background: #7A58BF;
        color: white;
        font-size: 12px;
        border-radius: 5px;
        height: 30px;
        border: none;
        outline: none;
    }

    .text-center {
        text-align: center;
        position: absolute;
        left: 10px;
    }

}



.main-footer {
    background-color: #7A58BF;
    color: #FFF;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    /*    height: 44px;
*/
}

.ul-footer {
    margin: auto;
    padding: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    list-style: none;
}

    .ul-footer li {
        width: 20%;
    }

.footer-link {
    padding: 6px 12px;
    color: #FFF;
}

@media (max-width: 700px) and (min-width:401px) {
    .footer-link {
        padding: 6px 5px;
        color: #FFF;
    }
    .ul-footer {
        font-size: 11px;
    }

   
}

@media (max-width: 400px)  {

    .footer-link {
        padding: 6px 5px;
        color: #FFF;
    }
    .ul-footer {
        font-size: 10px;
    }
    main {
        padding-top: 0px;
    }
}

@media (max-width: 350px){
    .navbar .navbar-nav .nav-item {
        line-height: 14px;
        font-size: 8px;
        
    }
   
}