
.card {
    margin-bottom: 15px;
}

.card-img {
    position: relative;
}

    .card-img img {
        width: 100%;
        border-radius:5px;
    }

.card-info {
    position: absolute;
    top: 50%;
    left: 7%;
}

    .card-info .info {
        color: #fff;
    }

.card-number, .name-cus {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: 5px;
}

.name-cus {
    font-size: 15px;
    letter-spacing: 2px;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.right-card {
    font-weight: bold;
    padding-left: 30px;
    padding-top:10px;
}

@media(min-width:768px) {
    .right-card {
        padding-top: 30px;
    }
}
