<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionHost" connectionString="+oScsKjMb2mYj/Ef6UoTksF+04iajKAeKkgC4bjlNGtI9aj2iEv0QIhuna97PkHnkBQF7DvWP6+oPzclN8yAaH6Ws8prjqmaATzu19aUkInZJmgfkLLaLs1rK6DuTDkhvhZJPWwDY3jIxovFF6HThrKSWD5EbsxmUyzPMTd/YsXt6BNkpNbIas60yBIz1MzQhQLqJ4eLcIDemabEuIas+stEGHzo1aKQRqx4VMVytD0HYn+wQxXq+XuLO+P1bS9yKLxLQ4QMrIFTmbmrTFEiJg=="/>
  </connectionStrings>
  <appSettings>
    <!--BEGIN IPCAutoTrans INFO-->
      <add key="LogFilePath" value="C:\EBank\log\SMSErrorLog.txt"/>
      <add key="RemotingAddress" value="localhost"/>
      <add key="RemotingPort" value="8000"/>
      <add key="BAUDRATE" value="115200"/>
      <add key="dataBits" value="8"/>
      <add key="comPort" value="COM8"/>
      <add key="delay" value="yes"/>
      <add key="PhonePrefix" value="84"/>
      <add key="ReadSleep" value="2000"/>
    <!--END IPCAutoTrans INFO-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
