<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="C:\EBank\log\SMSErrorLog.txt"/>
    <add key="SMSQueueIn_Path" value=".\private$\SMS_IN"/>
    <add key="SMSQueueOut_Path" value=".\private$\SMS_OUT"/>
    <add key="RMIPC_URL" value="tcp://192.168.1.240:8000/IPCAutoTrans"/>
    <!--<add key="RMIPC_URL" value="tcp://localhost:8000/IPCAutoTrans"/>-->
    <add key="SLEEP_TIME" value="15000"/>
    <add key="FREQTIME" value="60"/>
    <add key="FORWAITINGHAPPY" value="3600000"/>
    <add key="SLEEPHAPPY" value="60000"/>
    <add key="SETDATETIMEHAPPY" value="0800"/>
    <add key="AUTOSENT_SLEEP_TIME" value="10000"/>
    <add key="MAXLENGTH" value="160"/>
    <add key="STARTRECORD" value="1"/>
    <add key="PhonePrefix" value="84"/>
    <add key="isSTB" value="True"/>
    <!--region sms notification v2-->
    <add key="MAXRECORD" value="10"/>
    <add key="RegSMSNotify" value="True"/>
    <add key="GetSMSNotify" value="True"/>
    <add key="SendSMSNotify" value="True"/>
    <add key="REGNO_SLEEP_TIME" value="5000"/>
    <add key="GETNO_SLEEP_TIME" value="5000"/>
    <add key="SENDNO_SLEEP_TIME" value="5000"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionHost" connectionString="+oScsKjMb2mYj/Ef6UoTkvPEdAb8U1aPd5QGTXRlPhOwfwMNW4qnH76Qw0ClPQU/bGV9ZLxFQRmnWCRGhGVSk2HSNzVDn/XF1h4svq+QHlpfdtWcJQ0vKhkNrxdm1Udxw17PMemEOdJrObm2AStsCoXgW+i0JwL0RcT+cr2tRtCM4bQhETQIrn395api4Ny45D5nAH4SaA2bZYsbxG6mKnASB812twsNwMtTh0zgTyC8+FPiIWdML4m4fi0ZQwgGPh5xMHNvJ39f6axixc7F5Q=="/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
