<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LogFilePath" value="C:\EBank\log\SMSErrorLog.txt"/>
        <add key="SMSQueueIn_Path" value=".\private$\SMS_IN"/>
        <add key="SMSQueueOut_Path" value=".\private$\SMS_OUT"/>
        <add key="RMIPC_URL" value="tcp://localhost:8000/IPCAutoTrans"/>
        <add key="SLEEP_TIME" value="6000"/>
      <add key="PhonePrefix" value="84"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
