<?xml version="1.0"?>
<appSettings>
	<add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
	<add key="SmartPortalConnection" value="+oScsKjMb2mYj/Ef6UoTklh4qW6+9gHXLOZBBqLA5aDyevEbt8Y50qkdoQXwO042kUgQ7tydMuqNPJZ1HqyYKqTBiLKFuEsSJuHgA7FH7JkNc96DrLKL6VD3X5hy5sKN2udB+CQ2E2Zee1HOrzRz4biamYTuZr/xDPwwmC3PtdDoU8WOy/PDBu9dCfRn1pdd093SRQ60yH5qSKjmA5N7qR+TUhVOFscNLooduGVygZz8nNKN57hPgVgXA3MGQHOWiM87HA2Ka2TtRIBwb7uYggC3Eaox/fMPyXYGm7fw6NdinjIjIEHm3WfMdfocyPcxANdKubjrYMYdsb2JrJYhekvZWMZ8vD1uUIqo5Q/k+gk=" />
	<add key="rptServer" value="192.168.2.233" />
	<add key="rptDatabase" value="ABANK-EBCORE-DEV" />
	<add key="rptUser" value="RRMDDXJplID6k/3Kdgslog==" />
	<add key="rptPass" value="muS3uCE84ifmKpLjTfqSodgVFE/xAfFICp1No6c3mG8=" />
	<add key="failnumber" value="5" />
	<add key="setroleforwidget" value="Default.aspx?p=5" />
	<add key="homeadmin" value="Default.aspx?p=6" />
	<add key="homebank" value="Default.aspx?p=1" />
	<add key="loginpage" value="~/ibLogin.aspx" />
	<add key="semsloginpage" value="~/sems.aspx" />
	<add key="linkpath" value="E:\EBank\Log\linkblock.log" />
	<add key="prefix" value="eBanking - Siam Commercial Bank" />
	<add key="dieukhoansudung" value="Default.aspx?p=335&amp;f=dieukhoansudung" />
	<add key="huongdansudung" value="Default.aspx?p=335&amp;f=huongdansudung" />
	<add key="gioithieu" value="Default.aspx?p=335&amp;f=gioithieu" />
	<add key="lienhe" value="Default.aspx?p=335&amp;f=lienhe" />
	<add key="trangchu" value="Default.aspx" />
	<add key="dieukhoansudung1" value="Default.aspx?p=336&amp;f=dieukhoansudung" />
	<add key="huongdansudung1" value="Default.aspx?p=336&amp;f=huongdansudung" />
	<add key="gioithieu1" value="Default.aspx?p=336&amp;f=gioithieu" />
	<add key="lienhe1" value="Default.aspx?p=336&amp;f=lienhe" />
	<add key="trangchu1" value="Default.aspx?p=87" />
	<add key="viewpage" value="~/Default.aspx?p=9" />
	<add key="addpage" value="~/Default.aspx?p=7" />
	<add key="editpage" value="~/Default.aspx?p=8" />
	<add key="viewdetailpage" value="~/Default.aspx?p=10" />
	<add key="deletepage" value="~/Default.aspx?p=11" />
	<add key="accessdenied" value="~/Default.aspx?p=14" />
	<add key="widgeticonpath" value="App_Themes/Bank1/images/" />
	<add key="viewuser" value="~/Default.aspx?p=15" />
	<add key="adduser" value="~/Default.aspx?p=16" />
	<add key="edituser" value="~/Default.aspx?p=17" />
	<add key="viewdetailuser" value="~/Default.aspx?p=49" />
	<add key="searchletter" value="Default.aspx?p=15" />
	<add key="deleteuser" value="~/Default.aspx?p=50" />
	<add key="userinrolelink" value="~/Default.aspx?p=51" />
	<add key="changepasswordlink" value="Default.aspx?p=81" />
	<add key="viewgroup" value="~/Default.aspx?p=52" />
	<add key="addgroup" value="~/Default.aspx?p=53" />
	<add key="editgroup" value="~/Default.aspx?p=54" />
	<add key="viewdetailgroup" value="~/Default.aspx?p=55" />
	<add key="deletegroup" value="~/Default.aspx?p=56" />
	<add key="widgeticonpathupload" value="~/Widgets/widget/Add/images/" />
	<add key="viewwidget" value="~/Default.aspx?p=22" />
	<add key="addwidget" value="~/Default.aspx?p=21" />
	<add key="editwidget" value="~/Default.aspx?p=24" />
	<add key="deletewidget" value="~/Default.aspx?p=23" />
	<add key="viewdetailwidget" value="~/Default.aspx?p=27" />
	<add key="translatewidget" value="~/Default.aspx?p=43" />
	<add key="viewhtmlwidget" value="~/Default.aspx?p=57" />
	<add key="addhtmlwidget" value="~/Default.aspx?p=58" />
	<add key="edithtmlwidget" value="~/Default.aspx?p=59" />
	<add key="deletehtmlwidget" value="~/Default.aspx?p=61" />
	<add key="viewdetailhtmlwidget" value="~/Default.aspx?p=60" />
	<add key="addmenu" value="~/Default.aspx?p=28" />
	<add key="editmenu" value="~/Default.aspx?p=30" />
	<add key="viewmenu" value="~/Default.aspx?p=29" />
	<add key="viewdetailmenu" value="~/Default.aspx?p=31" />
	<add key="deletemenu" value="~/Default.aspx?p=32" />
	<add key="translatemenu" value="~/Default.aspx?p=44" />
	<add key="addnews" value="~/Default.aspx?p=37" />
	<add key="editnews" value="~/Default.aspx?p=38" />
	<add key="viewnews" value="~/Default.aspx?p=36" />
	<add key="viewdetailnews" value="~/Default.aspx?p=40" />
	<add key="deletenews" value="~/Default.aspx?p=39" />
	<add key="addlanguage" value="~/Default.aspx?p=68" />
	<add key="editlanguage" value="~/Default.aspx?p=69" />
	<add key="viewlanguage" value="~/Default.aspx?p=67" />
	<add key="viewdetaillanguage" value="~/Default.aspx?p=71" />
	<add key="deletelanguage" value="~/Default.aspx?p=70" />
	<add key="addcategory" value="~/Default.aspx?p=45" />
	<add key="viewcategory" value="~/Default.aspx?p=42" />
	<add key="editcategory" value="~/Default.aspx?p=46" />
	<add key="viewdetailcategory" value="~/Default.aspx?p=47" />
	<add key="deletecategory" value="~/Default.aspx?p=48" />
	<add key="addtheme" value="~/Default.aspx?p=63" />
	<add key="viewtheme" value="~/Default.aspx?p=62" />
	<add key="edittheme" value="~/Default.aspx?p=64" />
	<add key="viewdetailtheme" value="~/Default.aspx?p=65" />
	<add key="deletetheme" value="~/Default.aspx?p=66" />
	<add key="pagepermission" value="~/Default.aspx?p=25" />
	<add key="menupermission" value="~/Default.aspx?p=26" />
	<add key="settinglink" value="~/Default.aspx?p=72" />
	<add key="resetpasswordlink" value="~/Default.aspx?p=83" />
	<add key="ordernumber" value="10" />
	<add key="filenumber" value="500" />
	<add key="canhantag" value="canhan" />
	<add key="doanhnghieptag" value="doanhnghiep" />
	<add key="tinnganhangtag" value="tinnganhang" />
	<add key="tinngoainganhangtag" value="tinngoainganhang" />
	<add key="errorpage" value="~/Default.aspx?p=73" />
	<add key="iberrorpage" value="~/Default.aspx?p=262" />
	<add key="newsofcategory" value="Default.aspx?p=33" />
	<add key="newsofcategoryIC" value="~/Default.aspx?p=33" />
	<add key="newsdetail" value="~/Default.aspx?p=34" />
	<add key="SEMSADMIN" value="~/Default.aspx?p=129" />
	<add key="themeupload" value="~/App_Themes/" />
	<add key="langupload" value="~/App_GlobalResources" />
	<add key="smtpemail" value="kalatasay@gmail.com" />
	<add key="sysec" value="9999" />
	<add key="sqlec" value="8888" />
	<add key="catiec" value="1001" />
	<add key="catuec" value="1002" />
	<add key="catdec" value="1003" />
	<add key="giec" value="1004" />
	<add key="guec" value="1005" />
	<add key="gdec" value="1006" />
	<add key="tiec" value="1007" />
	<add key="tuec" value="1008" />
	<add key="tdec" value="1009" />
	<add key="miec" value="1010" />
	<add key="muec" value="1011" />
	<add key="mdec" value="1012" />
	<add key="mtec" value="1013" />
	<add key="mriec" value="1014" />
	<add key="naec" value="1015" />
	<add key="nuaec" value="1016" />
	<add key="niec" value="1017" />
	<add key="nuec" value="1018" />
	<add key="ndec" value="1019" />
	<add key="priec" value="1020" />
	<add key="piec" value="1021" />
	<add key="puec" value="1022" />
	<add key="pdec" value="1023" />
	<add key="wpiec" value="1024" />
	<add key="themeiec" value="1025" />
	<add key="themeuec" value="1026" />
	<add key="themedec" value="1027" />
	<add key="useriec" value="1028" />
	<add key="useruec" value="1029" />
	<add key="userdec" value="1030" />
	<add key="userinroleiec" value="1031" />
	<add key="widgetiec" value="1032" />
	<add key="widgetuec" value="1033" />
	<add key="widgetdec" value="1034" />
	<add key="widgettiec" value="1035" />
	<add key="htmlwidgetiec" value="1036" />
	<add key="htmlwidgetuec" value="1037" />
	<add key="htmlwidgetdec" value="1038" />
	<add key="cataec" value="1039" />
	<add key="catuaec" value="1040" />
	<add key="ucpec" value="1041" />
	<add key="zipec" value="1042" />
	<add key="filesameec" value="1043" />
	<add key="imageuploadec" value="4194304" />
	<add key="uploadthemeec" value="1045" />
	<add key="ceec" value="1046" />
	<add key="reec" value="1047" />
	<add key="ipcec" value="13" />
	<add key="waittingapproveec" value="9004" />
	<add key="notregtransfer" value="1048" />
	<add key="SCHEDULETIMEDEFAULT" value="12:30:00" />
	<add key="STARTDAYPILOT" value="08:00" />
	<add key="ENDDAYPILOT" value="08:59" />
	<add key="MAIL" value="MAIL" />
	<add key="WIDGETPAGE" value="WIDGETPAGE" />
	<add key="TBLWIDGETPAGE" value="SmartPortal_WidgetPage" />
	<add key="WIDGETID" value="WIDGETID" />
	<add key="POSITION" value="POSITION" />
	<add key="CATEGORY" value="CATEGORY" />
	<add key="TBLCATEGORY" value="SmartPortal_Category" />
	<add key="CATNAME" value="CATNAME" />
	<add key="CATDESCRIPTION" value="CATDESCRIPTION" />
	<add key="PARENTID" value="PARENTID" />
	<add key="ISPUBLISHED" value="ISPUBLISHED" />
	<add key="ORDER" value="ORDER" />
	<add key="TAG" value="TAG" />
	<add key="USERMODIFIED" value="USERMODIFIED" />
	<add key="DATEMODIFIED" value="DATEMODIFIED" />
	<add key="CATID" value="CATID" />
	<add key="GROUP" value="GROUP" />
	<add key="TBLGROUP" value="SmartPortal_Roles" />
	<add key="ROLENAME" value="ROLENAME" />
	<add key="ROLEDESCRIPTION" value="ROLEDESCRIPTION" />
	<add key="ROLEID" value="ROLEID" />
	<add key="LANGUAGE" value="LANGUAGE" />
	<add key="TBLLANGUAGE" value="SmartPortal_Language" />
	<add key="LANGID" value="LANGID" />
	<add key="LANGNAME" value="LANGNAME" />
	<add key="MENU" value="MENU" />
	<add key="TBLMENU" value="MENU" />
	<add key="TBLMENULANG" value="SmartPortal_MenuLang" />
	<add key="MENUTITLE" value="MENUTITLE" />
	<add key="PORTALID" value="PORTALID" />
	<add key="MENUORDER" value="MENUORDER" />
	<add key="MENUPARENT" value="MENUPARENT" />
	<add key="MENUID" value="MENUID" />
	<add key="TBLMENURIGHT" value="TBLMENURIGHT" />
	<add key="NEWS" value="NEWS" />
	<add key="TBLNEWS" value="SmartPortal_News" />
	<add key="NEWSID" value="NEWSID" />
	<add key="TITLE" value="TITLE" />
	<add key="SUMMARY" value="SUMMARY" />
	<add key="CONTENT" value="CONTENT" />
	<add key="NEWSAUTHOR" value="NEWSAUTHOR" />
	<add key="PAGE" value="PAGE" />
	<add key="TBLPAGERIGHT" value="SmartPortal_PageRight" />
	<add key="PAGEID" value="PAGEID" />
	<add key="TBLPAGE" value="SmartPortal_Pages" />
	<add key="PAGENAME" value="PAGENAME" />
	<add key="PAGEDESCRIPTION" value="PAGEDESCRIPTION" />
	<add key="THEME" value="THEME" />
	<add key="PAGETITLE" value="PAGETITLE" />
	<add key="AUTHOR" value="AUTHOR" />
	<add key="ISSHOW" value="ISSHOW" />
	<add key="MASTERPAGEID" value="MASTERPAGEID" />
	<add key="SUBSYSTEMID" value="SUBSYSTEMID" />
	<add key="ACTION" value="ACTION" />
	<add key="REFERENCE" value="REFERENCE" />
	<add key="TBLWIDGETPAGERIGHT" value="SmartPortal_WidgetRight" />
	<add key="WIDGETPAGEID" value="WIDGETPAGEID" />
	<add key="TBLTHEME" value="SmartPortal_Theme" />
	<add key="THEMENAME" value="THEMENAME" />
	<add key="THEMEDESCRIPTION" value="THEMEDESCRIPTION" />
	<add key="THEMEID" value="THEMEID" />
	<add key="USER" value="USER" />
	<add key="TBLUSER" value="SmartPortal_Users" />
	<add key="USERNAME" value="USERNAME" />
	<add key="PASSWORD" value="PASSWORD" />
	<add key="FIRSTNAME" value="FIRSTNAME" />
	<add key="MIDDLENAME" value="MIDDLENAME" />
	<add key="LASTNAME" value="LASTNAME" />
	<add key="GENDER" value="GENDER" />
	<add key="ADDRESS" value="ADDRESS" />
	<add key="EMAIL" value="EMAIL" />
	<add key="BIRTHDAY" value="BIRTHDAY" />
	<add key="PHONE" value="PHONE" />
	<add key="STATUS" value="STATUS" />
	<add key="USERINROLE" value="USERINROLE" />
	<add key="TBLUSERINROLE" value="SmartPortal_UserInRole" />
	<add key="WIDGET" value="WIDGET" />
	<add key="TBLWIDGET" value="SmartPortal_Widgets" />
	<add key="LINK" value="LINK" />
	<add key="ICONPATH" value="ICONPATH" />
	<add key="ENABLETHEME" value="ENABLETHEME" />
	<add key="SHOWTITLE" value="SHOWTITLE" />
	<add key="ISPUBLISH" value="ISPUBLISH" />
	<add key="WIDGETTITLE" value="WIDGETTITLE" />
	<add key="TBLWIDGETLANG" value="SmartPortal_WidgetsLang" />
	<add key="HTMLWIDGET" value="HTMLWIDGET" />
	<add key="TBLHTMLWIDGET" value="SmartPortal_HTMLWidget" />
	<add key="WIDGETCONTENT" value="WIDGETCONTENT" />
	<add key="USERCREATED" value="USERCREATED" />
	<add key="SETTING" value="SETTING" />
	<add key="TBLSETTING" value="SmartPortal_Settings" />
	<add key="SMTPSERVER" value="SMTPSERVER" />
	<add key="SMTPPORT" value="SMTPPORT" />
	<add key="SMTPUSERNAME" value="SMTPUSERNAME" />
	<add key="SMTPPASSWORD" value="SMTPPASSWORD" />
	<add key="ROLEADMINID" value="ROLEADMINID" />
	<add key="USERNAMEDEFAULT" value="USERNAMEDEFAULT" />
	<add key="LOGPATH" value="LOGPATH" />
	<add key="PORTALDEFAULTID" value="PORTALDEFAULTID" />
	<add key="PAGEDEFAULTID" value="PAGEDEFAULTID" />
	<add key="DEFAULTLANG" value="DEFAULTLANG" />
	<add key="FILENAME" value="FILENAME" />
	<add key="INSERT" value="INSERT" />
	<add key="UPDATE" value="UPDATE" />
	<add key="DELETE" value="DELETE" />
	<add key="SEND" value="SEND" />
	<add key="APPROVE" value="APPROVE" />
	<add key="UNAPPROVE" value="UNAPPROVE" />
	<add key="LOGIN" value="LOGIN" />
	<add key="CHANGEPASSWORD" value="CHANGEPASSWORD" />
	<add key="TRANSLATE" value="TRANSLATE" />
	<add key="PERMISSION" value="PERMISSION" />
	<add key="mailfrom" value="xMK SYSTEM" />
	<add key="mailtitle" value="Reset Password" />

	<add key="tabIBVisibility" value="1" />
	<add key="tabPhoneVisibility" value="0" />
	<add key="tabSMSVisibility" value="0" />
	<add key="tabMobileVisibility" value="0" />
	<add key="tabSMSVisibilityCorp" value="1" />
	<add key="tabSMSVisibilityWallet" value="0" />
	<add key="tabMobileVisibilityCorp" value="0" />
	<add key ="IBMBSamePassword" value="1"/>
	<add key="tabWalletVisibility" value="1" />
	<add key="tabAMVisibility" value="1" />
	<add key ="IBMBSameUser" value="1"/>
	<add key ="MBWLSameUser" value="1"/>
	<add key ="MBAMSameUser" value="1"/>
	<add key ="MBSMSSameUser" value="1"/>
	<add key = "PINCODELENGHT" value="6"/>
	<add key = "IBRequestOTPINFistLogin" value="1"/>
	<add key = "AYACorporate" value="1"/>
	<add key = "NumberOfRetry" value="3"/>
	<add key = "AllowTransferMultiCurrency" value="1"/>
	<add key = "emaildelivery" value="kalatasay@gmail.com"/>
	<add key ="LoadNric" value="1"/>
	<add key ="LoadLicense" value="0"/>
	<add key ="LoadPassport" value="1"/>

	<add key="posteruploadpathsems" value="D:\Cty\IB-AYA\Source Web\SmartPortalWeb\SmartPortalWeb\Images\PosterUpload\" />
	<add key="posteruploadpathib" value="D:\Cty\IB-AYA\Source Web\SmartPortalWeb\SmartPortalWeb\Images\PosterUpload\" />

	<add key="minlengthloginname" value="6"/>
	<add key="maxlengthloginname" value="20"/>

	<add key="contractapprovemailfrom" value="Siam Commercial Bank" />
	<add key="contractapprovemailtitle" value="on boarding e-mail" />
	<add key="resetpasswordemailtitle" value="Reset password information" />
	<add key="limitopensave" value="2000000000" />
	<add key="SCHEDULETIME" value="08:00:00.000" />

	<add key="IPCAT" value="tcp://172.26.28.241:6900/IPCAutoTrans" />

	<add key="WSWATERPAYMENT" value="http://viettel.capnuoccholon.com.vn/Webservicethungan/Service.asmx" />
	<add key="PULLACCOUNT" value="12692888" />
	<add key="USERLEVELTOTAL" value="20" />
	<add key="TRANBATCH" value="#IB000208" />
	<add key="BATCH" value="#IB000499" />
	<add key="CrystalImageCleaner-AutoStart" value="true" />
	<add key="CrystalImageCleaner-Sleep" value="60000" />
	<add key="CrystalImageCleaner-Age" value="120000" />
	<add key="SCHEDULETIMEFROM" value="06:00:00" />
	<add key="SCHEDULETIMETO" value="21:00:00" />
	<add key="shorttimeformat" value="HH:mm:ss"/>
	<add key="debug_timeoutsession" value="true"/>
	<add key="ibmbnotificationLoop" value="100"/>
	<add key="ibmbnotificationLoopdefault" value="1"/>
	<add key="LimitYearforSchedule" value="5"/>
	<add key="monthrange" value="-3"/>
	<add key="sessionTimeout" value="100"/>

	<!--SMS Notification-->
	<add key="smsnotifytrancode" value="SNO"/>
	<add key="ServiceidSMS" value="SMS"/>
	<add key="smsnotifycode" value="SNO"/>
	<add key="sendnotifiAllwhenapprovefromeditcontract" value="false"/>
	<add key="validateusername" value="^([a-zA-Z0-9]*)$"/>
	<!--Credit card-->
	<add key="leftmask" value="6"/>
	<add key="rightmask" value="4"/>
	<!--policy-->
	<add key="SessionWarning" value="10"/>
	<add key="KeepAlivePage" value="KeepAliveSession.aspx"/>
	<add key="IBIsMultilogin" value="true"/>

	<add key="pwdhis_default" value="3"/>
	<add key="pwdagemax_default" value="0"/>
	<add key="minpwdlen_default" value="6"/>
	<add key="lkoutthrs_default" value="5"/>
	<add key="lginfr_default" value="00:00:00"/>
	<add key="lginto_default" value="23:59:00"/>
	<add key="resetlkout_default" value="0"/>
	<add key="shortdateformat" value="dd/MM/yyyy"/>

	<add key="debug_passnew" value="true"/>
	<add key="datetimelimityear" value="1753"/>
	<!--endcypt url-->
	<add key="routeurl" value="EBK"/>
	<add key="routeurlslash" value="/EBK/"/>
	<add key="encryptside" value="po=4"/>
	<add key="isEncryptURL" value="false"/>
	<add key="SideRole" value="po=4#po=3"/>
	<add key="Telenormaintainstart" value="2017-11-21 00:30:00.000"/>
	<add key="Telenormaintainend" value="2017-11-24 05:30:00.000"/>
	<add key="alloweditworkflow" value="true"/>

	<add key="fxtranfer" value="USD#LAK"/>
	<add key="fxtranferinvalidaccount" value="12001"/>
	<add key="fxtranferaccessdenied" value="12002"/>

	<add key="TBLCONTRACT" value="SmartPortal_Contract" />
	<add key="CONTRACTDETAIL" value="CONTRACTDETAIL" />
	<add key="ShowAdmin" value="false"/>
	<add key="ConTimeout" value="3000" />
</appSettings>
