<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="LogFilePath" value="C:\Logs\ABANK-MSP-DEV\PNService\PushErrorLog.txt" />
		<add key="SLEEP_TIME" value="6000" />
		<add key="DebugLog" value="Y" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionHost" connectionString="+oScsKjMb2mYj/Ef6UoTkvPEdAb8U1aPd5QGTXRlPhOd9yZE3jIAjrSvtGrzLRM2zScZGEk4H0J01J2H9VAMh6P2REBEhxi4O7W5TZAiYehUABF9AlS621vd8IY8H0Bwo6F1W36h3eARvBx/XfLKvn6KQQ1kNldFzKJLyjo6ivXAYNaLCIKtrYO2rhWdcsidimCvQsOmPT48Jtk6fRvr0D6Zhr4EkOa21nOEvtnxTQLI6JVj73Cb7aNqzW0hCYB90on0hcuD33aHXy6yT7NE0LP4wChzikBOVcX8zFzhAUsJL/AKuxjsT5eq0BwmYNC9lCvcFkqqltR1W+/eCbz7aw==" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.net>
		<connectionManagement>
			<remove address="*"/>
			<add address="*" maxconnection="5000" />
		</connectionManagement>
	</system.net>
</configuration>
