 .portal-column {
  width: 100%;
  min-height:100px;
  margin: 0px;
  padding: 0px;
  
}
 .portal-column h2 {
  color: #bbb;
  text-align: center;
  width:100%;
}

 #portal-column-block-list .block .content {
  display: none;
}
 .block 
 {
 	 margin: 5px auto 0 auto;  
  padding: 0px;
  border: 1px solid #98BFE2;
}
 .block div.handle 
 {
  width:100%;
  height:22px;
  margin: 0; 
  padding-top:3px;
  
  padding-right:0px;
  cursor:move;
  font-size: 11px;
  color: #000000;
  background-color: #BCDFFB;
}

.block .content 
{
    width:100%;
    padding: 0px;
    background-color:#F8F8F8;
}
.block .block-toggle {
  background-image: url(block-slide.png);
  display: block;
  float: right;
  width: 7px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.block .block-toggle span {
  display: none;
}

.block-hover {
  border: 1px dashed #f00;
}

.block-list-handle, #portal .handle {
  cursor: move;
}

#portal-column-block-list .block .block-toggle {
  display: none;
}



#portal-column-block-list .block1 .content {
  display: none;
}
 .block1 
 {
 	 margin: 5px auto 0 auto;  
  padding: 0px;
  border: 1px solid #98BFE2;
}
 .block1 div.handle 
 {
  width:100%;
  height:22px;
  margin: 0; 
  padding-top:3px;
  
  padding-right:0px;

  font-size: 11px;
  color: #000000;
  background-color: #BCDFFB;
}

.block1 .content 
{
    width:100%;
    padding: 0px;
    background-color:#F8F8F8;
}
