

.left_content_menu {
    background: rgba(255,255,255,.85);
    box-shadow: 1px 1px 3px 0px #888888;
    margin: 10px 0;
}

.left_content_menu_header {
    height: 31px;
}

.left_left_content_menu_header {
    height: 27px;
    width: 3px;
    float: left;
}

.middle_left_content_menu_header {
    line-height: 30px;
    background: #007F3E;
    color: #fff;
    font-weight: bold;
    list-style: none;
    overflow: hidden;
    padding: 5px 10px;
}

.left_menu_icon {
    height: 24px;
    width: 24px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
    margin-right: 5px;
}



.back_left_content_menu_header {
    height: 27px;
    width: 2px;
    background-image: url(../images/left_menu.gif);
    float: left;
}

.right_left_content_menu_header {
    height: 31px;
    width: 4px;
    /*background-image: url(../images/bgTitle.png);*/
    float: right;
}



.left_content_menu_content {
    /*background-image:url(../images/left_content_menu_content.gif);*/
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}



    .left_content_menu_content li {
        width: 240px;
        height: 24px;
        display: block;
        text-decoration: none;
        list-style: none;
        float: left;
        background-color: #e7e6da;
        margin-bottom: 1px;
        background-image: url(../images/submenu_icon.gif);
        background-repeat: no-repeat;
    }

        .left_content_menu_content li a {
            font-family: Tahoma, Geneva, sans-serif;
            font-size: 11px;
            width: 240px;
            height: 24px;
            display: block;
            text-decoration: none;
            color: #2f2f20;
            padding-left: 30px;
            padding-top: 5px;
            text-align: left;
            background-image: url(../images/submenu_icon.gif);
            background-repeat: no-repeat;
            float: left;
        }

            .left_content_menu_content li a:hover {
                background-color: #d5d5d2;
                height: 19px;
                width: 210px;
                background-image: url(../images/submenu_icon_active.gif);
                background-repeat: no-repeat;
            }

    .left_content_menu_content ul {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 11px;
        width: 200px;
        height: 24px;
        margin: 0px 0px 1px 0px;
        text-align: left;
        float: left;
        background-color: #e7e6da;
        background-image: url(../images/submenu_icon.gif);
        background-repeat: no-repeat;
    }

        .left_content_menu_content ul a {
            width: 200px;
            height: 24px;
            display: block;
            text-decoration: none;
            margin-top: 4px;
            text-align: left;
            color: #000;
        }

@media (max-width: 979px) {
    #mobile_button {
        height: 40px;
        width: 40px;
        background-image: url(../Images/mobile_menu_button.png);
        background-size: cover;
        border: none;
        background-color: transparent;
        z-index: 3;
        outline: none;
        margin: 10px;
    }
    #mobile_menu {
       z-index:4;
    }
}

@media (min-width: 980px) {
    #mobile_button {
        display: none;
    }

    #mobile_menu {
        display: none;
    }
}
