#gvPages
{
	width:100%;
}
.pager
{
	background-color:#BCDFFB;
	height:20px;		
}
.pager a
{    	
	background-color:#F8F8F8;
	padding:2px 2px 2px 2px;
	text-decoration:none;
	margin-left:4px;
}

.pager a:hover
{    	
	background-color:#EAFAFF;color:#003366; 	
	
}
.pager span
{
	background-color:#EAFAFF;color:#003366;
	padding:2px 2px 2px 2px;
	
	color:Black;
}