<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="C:\EBank\log\AutoRefund.txt"/>
    <add key="ENABLESERVICE" value="True"/>
    <add key="RMIPC_URL" value="tcp://192.168.2.230:6023/IPCAutoTrans"/>
    <add key="TIME_LOOP" value="5000"/> <!--milisecond-->
  </appSettings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
