.block1{
    text-indent:20px;
    background:#f0f0f0;
}
#fastbanking_header{
    width:100%;
    height:128px;
    background-image:url(../Images/banner_ib.jpg);
    border-bottom: solid 3px white;
}

.page_title{
    width:100%;
    height:27px;
    border-bottom:solid #9a0a14 1px;
    font-weight:bold;
    font-size:14px;
    padding-top:15px;
    color:#9a0a14;
}
.fastbanking_content{
     width:100%;
    background:#f0f0f0;
}
.style1
{
    width: 100%;
}
.tbl{
    width:100%;
}
.tbl td{
    padding-top:10px;
    padding-bottom:10px;
    color:#d91932;
    font-size:12px;
}
.red_tr{
    border-bottom:1px solid #9a0a14;
}
.bold{
    font-weight:bold;
    font-size:13px;
}
.fastbanking_content textarea, .fastbanking_content select, .fastbanking_content input[type=text]{
    border:none;
    background:white;
    width:185px;
    text-indent:15px;
}
.fastbanking_content select, .fastbanking_content input[type=text]{
    height: 35px;
}
.continue_btn{
    border:none;
    background:#9a0a14;
    width:170px;
    height:35px;
    color:white;
    margin-bottom:40px;
}
.continue_btn1{
    border:none;
    background:#9a0a14;
    width:170px;
    height:35px;
    color:white;
    margin-bottom:0px;
    margin-left:0px;
}
#fastbaking_footer{
    width:100%;
    height:88px;
    background:url(../Images/footer_ib.png);;
    background-size:100%;
}