<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<connectionStrings>
		<!--<add name="ConnectionHost" connectionString="+oScsKjMb2mYj/Ef6UoTksF+04iajKAeKkgC4bjlNGtI9aj2iEv0QIhuna97PkHnkBQF7DvWP6+oPzclN8yAaOTz1rDrcud6yk1EoaQfc/Xlwf7ze9GTH2ijwJ4VQ0kyWWLqx7+MYBgiU/1tc4rLb/9T2f9lPhEQfa1jBaZFDF5CAa/OYtUP9tJ0fV7fegXqd7eMYKk0OzPvzwclMWYjozrUDXgSzk598pVrMbLhYtvlMRG5CT2+HO00hRUd5LeRScSGWAT74aYMMkQRCM9NSynSe0z69SWGiy09udFwHj8="/>-->
		<add name="ConnectionHost" connectionString="+oScsKjMb2mYj/Ef6UoTks+xOhHyF3IR9iwZDMN9xFUZeSNAuwxqlDh1wzAlgjmKTbUNP7IAk6pyx8YZHpn6VEoA3Yjfb27xgNrWoG2fuPb1ID4mfE+L8/L+WEpvnADuBDGkAPDAMIQnC0/wZM117wswGJVuThXUIPA1so/n4wcYrlScCLr7A6Uvb+R0moo0cQUP/eZLWQe0deYGW7yn6KPJTcsVwudc0xF9qlKAFiw/JBIGyVBAdTUhYqYU3ia0pe/5o2Wa1zfUTpTnj0G/EXlkv77b90EChrYauyfPcrOCgQWot0R/NZKEJzhNFQo/8LGEbjjE4PASHfCkgYISew=="/> 
		<!--<add name="ConnectionHost" connectionString="+oScsKjMb2mYj/Ef6UoTkgY/RWcuYMkjDwy0vppoPZ228sKQPtdWNUE9cqIWu9Ab4l3ZeUTkF5ldWxwahM7j/9L29yjcffsIAkCeoEKA1QsXqUDRLQ8BRIuLpVaL5DuY6xmuH5Dnv3NeCHmZhczold7dVHvARgd0xT26mvxB00qnAPeEFSf1tUzydSVTqB+Zd/Frbvcjne5dNbBVhLv8fc0r/YMNLbXr2cKeJTu7fCykeOE0T5uszLcAi/T7uzJAWIcw2MGsAh5LuubPNIi5OdOw2aTu02A5ctcSFVhcjAKZYHDDDybY3k9RFyTgURJZ"/>-->
	</connectionStrings>
	<appSettings>
		<add key="LogFilePath" value="D:\Working\Log\PSVB\IPCService\IPCErrorLog"/>
		<add key="MsgInOutLog" value="D:\Working\Logs\PSVB\MsgInOutLog\MsgInOutLog"/>
		<add key="XmlToFieldLog" value="D:\Working\Logs\PSVB\XmlToFieldLog\XmlToFieldLog"/>
		<add key="LogMessage" value="D:\Working\Logs\PSVB\LogMessage\LogMessage"/>
		<add key="LogDoStoreInfo" value="D:\Working\Logs\PSVB\LogDoStoreInfo\LogDoStoreInfo"/>
		<add key="PathSaveRQSTM" value="F:\Project\SVN\SVNPSV\File\"/>
		<add key="Debug" value="True"/>
		<add key="DebugFilePath" value="D:\Work\Log\PSVB\IPCService\EBDebugLog.txt"/>
		<add key="IPCDBBackUpPath" value="C:\BackUp\"/>
		<add key="MonitorPort" value="8050"/>
		<add key="ATMFilePath" value="C:\"/>
		<add key="ATMDetailFilePath" value="C:\"/>
		<add key="EntrustURL" value="https://authen-srv:8443/IdentityGuardAuthService/services/AuthenticationServiceV3"/>
		<!--<add key="EntrustURL" value="http://authen-srv:8080/IdentityGuardAuthService/services/AuthenticationServiceV3"/>-->
		<add key="EntrustAdminURL" value="https://authen-srv:8444/IdentityGuardAdminService/services/AdminServiceV3"/>
		<add key="OTPUser" value="igadmin"/>
		<add key="OTPPass" value="ok1ppD+D5c+rfrRhai5UTJXorrxZolTsrJS2Mdpsigs="/>
		<add key="OTPLifeTime" value="300000"/>
		<add key="SynAcctTime" value="900000"/>
		<add key="SynWorkingTime" value="50000000"/>
		<add key="PREPAIDURL" value="http://192.168.126.16/dangkythe/WebService/ServiceDangKyThe.asmx"/>
		<add key="ASSEMBLYNAME" value="PrepaidConnectWeb.dll"/>
		<add key="ASSEMBLYTYPE" value="PrepaidConnectWeb.PrepaidConnectWeb"/>
		<add key="MTMETHOD" value="CheckCustomer"/>
		<add key="WSWATERPAYMENT" value="http://viettel.capnuoccholon.com.vn/Webservicethungan/Service.asmx"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="smtpemail" value="kalatasay@gmail.com"/>
		<add key="contractapprovemailfrom" value="Aplus"/>
		<add key="contractapprovemailtitle" value="on boarding e-mail"/>
		<add key="CheckSqlInjectionTran" value="True"/>

		<add key="emaildelivery" value="dungvt@jits.com.vn"/>
		<add key="NumberRetry" value="3"/>
		<add key="BatchNumberRetry" value="20"/>
		<add key="BatchDistance" value="60"/>
		<add key="DebugMode" value="True"/>
		<add key="AutoReversal" value="True"/>
		<add key="ReversalSleepTime" value="5000000000"/>
		<add key="ScheduleDateTimeFormat" value="dd/MM/yyyy HH:mm:ss"/>

		<add key="RemotingPort" value="6021"/>
		<add key="BAUDRATE" value="115200"/>
		<add key="dataBits" value="8"/>
		<add key="comPort" value="COM3"/>
		<add key="delay" value="yes"/>

		<add key="STBATM" value="True"/>
		<add key="SendEmailafterSweeping" value="True"/>
		<add key="SendSMSafterSweeping" value="True"/>
		<add key="Sendsmserrorsameasemail" value="false"/>
		<add key="sendmailwhenbatcherror" value="false"/>

		<add key="AllowMBVersion1" value="True"/>
		<add key="ResetPasswordNotifyEmail" value="vutt@jits.vn,lannth@jits.com.vn"/>
		<add key="SMSOTPLength" value="6"/>
		<add key="MBCPWTRANCODE" value="MB000002"/>
		<add key="MBLOGINV1" value="MB000001"/>
		<add key="ConTimeout" value="3000"/>
		<add key="LimitDayLogMsg" value="60"/>
		<add key="ClusterID" value="0"/>
		<add key="ParallelAutoCashback" value="False"/>

		<add key="LogMaxSizeRollBackups" value="-1"/>
		<add key="LogMaxFileSize" value="50MB"/>
	</appSettings>
	<system.runtime.remoting>
		<application name="DataLayerRemote">
			<channels>
				<channel ref="Tcp" port="4994">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
			<service>
				<activated type="IP.DataLayer.USER, IPC.DataLayer"/>
				<activated type="IPC.DataLayer.BRANCH, IPC.DataLayer"/>
				<activated type="IPC.DataLayer.BaseObjects.DataBase, IPC.DataLayer.BaseObjects"/>
				<activated type="IPC.DataLayer.DataFactory, IPC.DataLayer"/>
				<wellknown mode="SingleCall" type="Transaction.AutoTrans,Transaction" objectUri="IPCAutoTrans"/>
				<wellknown mode="SingleCall" type="ServiceControl.ServiceController,ServiceControl" objectUri="IPCServiceController"/>
			</service>
		</application>
	</system.runtime.remoting>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="OTPServerPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="OTPServerPortBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://otp:443/OTPWS/OTPServer" binding="basicHttpBinding" bindingConfiguration="OTPServerPortBinding" contract="SecureMetricServer.OTPServer" name="OTPServerPort"/>
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
