#gvPages
{
	width:100%;
}
.pager
{
	background-color:#EAFAFF;color:#003366;		
}
.pager a
{    	
	/*background-color:#F8F8F8;*/
	padding:3px 5px 3px 5px;
	text-decoration:none;
	margin-left:4px;
}

.pager a:hover
{    	
	background-color:#EAFAFF;color:#003366; 
	
}
.pager span
{
	background-color:#EAFAFF;color:#003366;
	padding:3px 5px 3px 5px;
}
.gvFooterStyle
{
	background-color:#EAFAFF;color:#003366;
}
.gvHeader
{
	background-color:#EAFAFF;color:#003366;
	font-weight:bold;
}