 .portal-column {
  width: 100%;
  /*min-height:5px;*/
  margin: 0px;
  padding: 0px;
  
}
 .portal-column h2 {
  color: #bbb;
  text-align: center;
  width:100%;
}

 #portal-column-block-list .block .content {
  display: none;
}
 .block
 {
 	
  padding: 0px;
  /*border: 1px solid #0F3974;*/
  border:solid 1px #65101C;
  background-color:#ffffff;  
  width:99%;
  margin: 5px auto 0 auto;  
  z-index:0;
  position:relative;
}
.block div.handle 
 {
 	 cursor:move;
  width:100%;
  height:30px;
  margin: 0; 
  margin-top:5px;
  padding-top:0px; 
  padding-bottom:2px; 
  padding-right:0px; 
  font-size: 12px;
  font-weight:bold;
  color: #fff;
  background-image:url(images/left_menu_header.gif);
  background-repeat:repeat-x; 
  margin-bottom:0px;  
}

.block div.content 
{
    width:100%;
    margin-top:0px;   
    /*background-image:url(images/l_menu_content.gif);*/    
        
}
.block .block-toggle {
  background-image: url(block-slide.png);
  display: block;
  float: right;
  width: 7px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.block .block-toggle span {
  display: none;
}

.block-hover {
  border: 1px dashed #f00;
}

.block-list-handle, #portal .handle {
  cursor: move;
}

#portal-column-block-list .block .block-toggle {
  display: none;
}

.block1 
 { 	 

  /*border: 1px solid #0F3974;*/
  
  background-color:#ffffff;  
 
   margin: 15px auto 0px auto;  
   padding-top:0px;
	width:99%;
	
}
.block1 div.handle 
 {
  
  height:22px;
margin-top:0px;
  padding-top:10px; 
  padding-left:5px;
  padding-bottom:0px; 
  padding-right:0px; 
  font-size: 12px;
  font-weight:bold;
  color: #003A88;
  background-image:url(images/box_center.png);
  background-repeat:repeat-x; 
  margin-bottom:0px;
  border-left:solid 1px #b9bfc1;
    border-right:solid 1px #b9bfc1;
    border-top:solid 1px #b9bfc1;
    z-index:0;
    position:relative;
}

.block1 div.content 
{
   
    margin-top:0px;
    padding-top:0px;
     
    border-bottom:solid 1px #b9bfc1;
    border-left:solid 1px #b9bfc1;
    border-right:solid 1px #b9bfc1;
    z-index:0;
}
 
 .imgWidget
{
	margin-left:5px;
	margin-right:5px;
	margin-top:-2px;
	width:16px;
	height:16px;
}
.btnGeneral
{
	background-image:url(images/button2.png);
	background-repeat:repeat-x;
	border:1px solid #C3C3C3;
	padding:3px 7px 4px;
	-moz-border-radius:2px 2px 2px 2px;
	color:Black;
	font-size:11.49999px; 
	
}
.btnGeneral:hover
{
	background-image:url(images/button.png);
	color:#FFF;
	background-repeat:repeat-x;
	border:1px solid #888888;
	padding:3px 7px 4px;
	-moz-border-radius:2px 2px 2px 2px;
	-moz-box-shadow:0 0 3px #999999;
	text-decoration:none;
}
.itextsharp
    {
    	font-family:Tahoma;    	
    }