<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionHost" connectionString="+oScsKjMb2mYj/Ef6UoTkvPEdAb8U1aPd5QGTXRlPhOd9yZE3jIAjrSvtGrzLRM2VxWVQ8bNEvRyQGLQknHPf463laU0Ga+CQbzCvyJVnqdkKxAI0i7qumeamF/oCL7xa/AREpQC3VlpsWpeYgDdZUv3K5BW/TBQ6BFXA/yypmepOjBX2giI86Qh1Xn6zkd1yWqOtV3FbGullJp7pDwMIdvz17/Aker5X28uM7/IKCY3yyVOeSuz0DytdPnItWtzuphGDi5CpKNuwo3ho52229V97XHAMJUkUNhBGJbNDvDcjawhJbDUNuxhgtpA5QwYugf6dUejZVUpargv5C2D8Q=="/>
  </connectionStrings>
  <appSettings>
    <add key="smsinterval" value="5000"/>
    <add key="ConTimeout" value="60000"/>
    <add key="LogFilePath" value="D:\Working\Logs\ABANK_EBK\IPCService\SMSVMGErrorLog.txt"/>
    <add key="ClusterID" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <connectionManagement>
      <remove address="*"/>
      <add address="*" maxconnection="5000"/>
    </connectionManagement>
  </system.net>
</configuration>
