#mobile_logo {
    display: none;
}
.banner {
    background: url(Images/banner_ib.jpg) no-repeat center;
    height: 128px;
    width: 100%;
    clear: both;
    float: left;
}
/*------------Notify panel-------------*/

.notify_text {
    color:yellow;
    font-size:larger;
    font-weight:bold;
}
.marquee {
    position: fixed;
    width: 980px;
    overflow: hidden;
    background-color:black;
    padding-bottom:5px;
    padding-top:5px;
    opacity: 0.7;
    text-align:center;
    white-space: nowrap;
}

/*------------Login info-------------*/
.login_info {
    float:right;
}

.panel_login_info
{
	width:225px;
	height:56px;
 	text-align:left;
	padding-top:5px;
	padding-left:5px;
	margin-top:28px;
	padding-right:5px;
 	background-image:url(images/cust_info.png);
	background-repeat:no-repeat;

}

.panel_login_info li
{
	display:block;
	list-style:none;
	height:14px;
	width:220px;
	font-size:11px;
	float:left;
	color:#FFF;
	margin-left:5px;
}

.banner #divLang 
{
    position: absolute;
    top: 95px;
    margin-left:150px;  
	float:right;	  
}
.banner #divLang a 
{
    text-decoration: none;
}
/*------------End Login info-------------*/