@media (max-width: 979px) {
    .left_content {
        display: none;
    }

    .login_info {
        display: none;
    }

    .banner {
        background: linear-gradient(109.05deg, #755CB9 0%, #432989 100%);
        height: 60px;
        position: absolute;
        top: 0px;
    }


    /*#body {
        width: 100% !important;
        padding: 0px;
        position: fixed;
    }*/
    #mobile_logo {
        height: 100%;
        width: 70%;
        float: right;
        font-weight: bold;
        vertical-align: central;
        margin-right: 15px;
        padding: 13px 0px 0px 0px;
        text-shadow: 1px 1px #000;
        color: #ffffff;
    }
}

.title-page {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-top:15px;
}

.head-page {
    margin-left: 15%;
}

@media(max-width:350px) {
    #mobile_logo {
        font-size: 14px;
    }
}

@media (min-width: 980px) {
    .banner {
        box-sizing: border-box;
        position: absolute;
        height: 160px;

        background: linear-gradient(90deg, rgba(67,41,137,1) 4%, rgba(117,92,185,1) 71%);
        /* light shadow */

        box-shadow: 0px 4px 12px rgba(206, 206, 206, 0.25);
        
    }

    .logo {
        position: absolute;
        top: 10px;
        z-index: 99;
    }
        .logo img {
            max-width: 150px;
        }
    #mobile_logo {
        display: none;
    }
}

.banner {
    clear: both;
    position: relative;
}

.banner-bg {
    position: absolute;
}
/*------------Notify panel-------------*/
.notify_text {
    color: yellow;
    font-size: larger;
    font-weight: bold;
}

.marquee {
    position: fixed;
    width: 980px;
    overflow: hidden;
    background-color: black;
    padding-bottom: 5px;
    padding-top: 5px;
    opacity: 0.7;
    text-align: center;
    white-space: nowrap;
}

/*------------Login info-------------*/
.login_info {
    float: right;
}

.panel_login_info {
    text-align: left;
    line-height: 25px;
    background: #380C70D9;
}

    .panel_login_info li {
        display: inline;
        list-style: none;
        font-size: 11px;
        color: #FFF;
        margin-left: 5px;
        padding-right: 10px;
    }

.bg-left, .bg-right {
    height: 25px;
    width: 25px;
    float: right;
    background: #380C70D9;
}

.bg-left {
    border-bottom-left-radius: 50%;
}

.bg-right {
    border-bottom-right-radius: 50%;
}

.banner #divLang {
    position: absolute;
    top: 95px;
    margin-left: 150px;
    float: right;
}

    .banner #divLang a {
        text-decoration: none;
    }
/*------------End Login info-------------*/

.logo {
    position: absolute;
    top: 10px;
    z-index: 99;
    left: 4%;
}

#logo_img_indivi {
    display: none;
}

.logo img {
    max-width: 250px;
}

.logopsb {
    position: absolute;
    max-width: 200px;
    left: 27%;
    padding-left: 15px;
    bottom: 30px;
}

    .logopsb img {
        max-width: 200px;
    }

@media screen and (min-width: 1400px) and (max-width: 1900px) {
    .logopsb {
        width: 100%;
        position: absolute;
        left: 33%;
    }
}

@media screen and (min-width: 1901px) {
    .logopsb {
        left: 36%;
    }
}

body .footer {
    position: absolute;
    padding: 0;
    margin: auto;
    bottom: 0px;
    left: 0;
    right: 0;
}
