 

.nav {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	margin: 0;
	padding: 0;
	list-style: none;
	width:240px;
	display:block;
	float:left;
}

.nav li {
	position: relative;
	width:238px;
	list-style:none;
	text-align:left;
	margin:-1px 0 0px 0;
	padding-top:0px;
	float:left;
	border-bottom:1px #FFF solid;
	border-top:1px #FFF solid;
	 
}
.nav li:hover
{
	 
	/*font-weight:bold;*/
	cursor:pointer;
}

 

.nav li a {
	display:block;
	text-decoration: none;
	color: #2F2F20;	
	background-color:#e7e6da;	 
	height:20px;	
	width:210px;
	padding-left:30px;
	 padding-top:5px;	 
	float:left;
	 background-image:url(../images/submenu_icon.gif);
	 background-repeat:no-repeat;
	 
}
.nav li a:hover {
	font:Arial, Helvetica, sans-serif;
	font-size:11px;
	background: #D5D5D2 ;
	 background-image:url(../images/submenu_icon_down.gif);
	 background-repeat:no-repeat;
	 border-bottom:1px #FFF solid;
	
	 /*font-weight:bold;*/
}

/* keep folowing styles together..........................*/
.nav ul ul {
	margin-left:-16px;/* ie5 fix */
	voice-family: "\"}\""; 
	voice-family: inherit;
}	
.nav li {float:left;/* hide float from ie5*/}
.nav ul {
	width:238px;	
	
	voice-family: "\"}\""; 
	voice-family: inherit;	
}
.nav ul {
	margin-top:0px;
	margin-left:0;/* hide margin from ie5*/}

/* keep above styles together .............*/

.nav li ul {
	margin-top:0px;
	padding-top:0px;
	
	margin-bottom:0px;
	padding-bottom:0px;
	
	margin-left:0px;
	padding-left:0px;
	
	display:none;
	background-color::#03F;
	
	width:240px;
}
.nav li ul li{
	border:none;
	list-style: none;
	margin-top:0px;
	padding-top:0px;
	width:240px;
	margin:0 auto;
	padding: 0 0 0 0px;
	background-color:#e7e6da;
	display:block;
}

.nav li ul li a:hover
{
	 
	
}
	
	
/* Styles for Menu Items */

 
/* this sets all hovered lists to red */
.nav li:hover a, li.over a,
.nav li:hover li a:hover, 
.nav li.over li a:hover {
   color: #2F2F20;
   display:block;
   float:left;
   
}

/* set dropdown to default */
.nav li:hover li a, 
.nav li.over li a {
	color:#2f2f20;
	background-color: #fff;
	 
	display:block;
	float:left;
}

.nav li.over li ul li a {
background-image:url(../images/sub_submenu_icon.gif);

}
.nav li ul li a 
{  
	padding-left:50px;		 
	background-color:#0F3;
	width:190px;
	margin-top:0px;
 background-image:url(../images/sub_submenu_icon.gif);

	
} /* Sub Menu Styles */

.crazy
{
	background-image:url(../images/sub_submenu_icon.gif);
}
.nav li ul li a:hover { 
	 
	color:#C90;	
	background: #f2f1e9 ; 
	background-image:url(../images/sub_submenu_icon.gif);
	background-repeat:no-repeat;
	
	
	 
} /* Sub Menu Styles */
.nav li:hover ul, li.over ul { 	
	display:block;
	float:left;

   } /* The magic */
/*=======================================================================*/