<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionHost" connectionString="+oScsKjMb2mYj/Ef6UoTksF+04iajKAeKkgC4bjlNGtI9aj2iEv0QIhuna97PkHnkBQF7DvWP6+oPzclN8yAaH6Ws8prjqmaATzu19aUkInZJmgfkLLaLs1rK6DuTDkhvhZJPWwDY3jIxovFF6HThrKSWD5EbsxmUyzPMTd/YsXt6BNkpNbIas60yBIz1MzQhQLqJ4eLcIDemabEuIas+stEGHzo1aKQRqx4VMVytD0HYn+wQxXq+XuLO+P1bS9yKLxLQ4QMrIFTmbmrTFEiJg=="/>
  </connectionStrings>
  <appSettings>
    <add key="BAUDRATE" value="115200"/>
    <add key="dataBits" value="8"/>
    <add key="comPort" value="COM3"/>
    <add key="delay" value="yes"/>
    <add key="PhonePrefix" value="84"/>

    <!--BEGIN INCOM SUPPLIER INFO-->
    <add key="INCOMURL" value="http://123.30.84.135/MTSend/MTSend.asmx"/>
    <add key="USERNAME" value="mtpnb"/>
    <add key="PASSWORD" value="7ygC/XdU6dmAwV7jO+V+jGre7XZmKf9FnlJajopyimc="/>
    <add key="COMMANDCODE" value="PNB"/>
    <add key="MAXLENGHT" value="160"/>

    <add key="COMMANDCODEBRANDNAME" value="NHPhuongNam"/>
    
    
    <add key="FUNCTION" value="MD5"/>
    <add key="HASHKEY" value="2E654FB7BA761E1F8DD40FD34328ED7B"/>
    <add key="SMLURL" value="http://123.30.24.123:8080/SMSG/SMS?wsdl"/>
    <add key="USERNAMESML" value="mtpnb"/>
    <add key="PASSWORDSML" value="7ygC/XdU6dmAwV7jO+V+jGre7XZmKf9FnlJajopyimc="/>
    <add key="COMMANDCODESML" value="PNB"/>
    <add key="MAXLENGHTSML" value="160"/>
    <!--END INCOM SUPPLIER INFO-->
    <add key="checkflagdelay" value="500"/>
    <add key="loadsmsdelay" value="2000"/>
    <add key="smsgwinterval" value="500"/>
    <add key="gsminterval" value="500"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
