<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.StringTemplate" version="3.4.1.9005" targetFramework="net462" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net462" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20505.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20505.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20505.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.20505.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="microsoft-web-helpers" version="2.1.20710.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
</packages>