<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Cấu hình đường dẫn file Log-->
    <add key="LogFilePath" value="E:\eMailService\eMailService\eMailErrorLog.txt"/>
    <!--Cấu hình thời gian ngủ 1 seconds * 1000-->
    <add key="SLEEP_TIME" value="150000"/>
    <!--Cấu hình Query string-->
    <add key="QUERY_STRING" value="SELECT * FROM EBA_Branch"/>
    <!--Bật quyền truy cập của ứng dụng kém an toàn theo đường dẫn https://myaccount.google.com/lesssecureapps; Cấu hình mail gửi đi-->
    <add key="FromEmailAddress" value="khanhhd@jits.com.vn" />
    <add key="FromEmailDisplayName" value="Hoàng Đức Khánh" />
    <add key="FromEmailPassword" value="vRyehXxmj6R1oBCDf4Qq/fnoZ6lUff8xqvQvw7TkOwU=" />
    <!--Cấu hình SmtpClient-->
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="EnabledSSL" value="true" />
    <!--Chủ đề mail-->
    <add key="Subject" value="Subject" />
    <!--Danh sách mail nhận. Phân cách nhau qua dấu ";"-->
    <add key="ToEmailAddressCC" value="khanhhd2910@gmail.com;khanhhd@jits.com.vn;duckhanh2910@gmail.com;" />
    <add key="ToEmailAddressBCC" value="" />
    <!--Tên file trong đường dẫn source code: eMailService\eMailService\bin\Debug\MailTemplate-->
    <add key="MailTemplate" value="MailTemplate" />
    <add key="AttachmentFileName" value="Excel"/>
    <!--Định dạng .xls-->
    <!--<add key="MediaType" value="application/vnd.ms-excel"/>
    <add key="Type" value=".xls"/>-->
    <!--Định dạng .xlsx-->
    <add key="MediaType" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
    <add key="Type" value=".xlsx"/>
    <!--Định dạng .csv-->
    <!--<add key="MediaType" value="application/vnd.ms-excel"/>
    <add key="Type" value=".csv"/>-->
  </appSettings>
  <connectionStrings>
    <!--Cấu hình chuỗi kết nối đến database-->
    <add name="connectionString" connectionString="+oScsKjMb2mYj/Ef6UoTkjHZYG6ZpbFoqUT+7ms/ZYnwDFhwORTvgVOMkXtW9N7pJhXinT2W3Wdikp4QxKpVGFB6gJP9r8pt9tKOefJps8k+Mb668BsYhj2mX6ftdOUxJ+ITN0TGdNrDHlXPM2Jt7FD8RbY9O0uRMzr7D+4ZrVDMTtrn7szCcRkNvENvjgXoU/CzZq6zf1HywPUE23OBmenwRBdFllBH1AMrB41/Seo="/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>