 .style1 {
    width: 100%;
}

.divGetInfoCust {
    background-color: #F8F8F8;
    border: solid 1px #B9BFC1;
    margin: 2px 5px 5px 5px;
    padding: 0px 0px 0px 2px;
}

.divHeaderStyle {
    background-color: #EAFAFF;
    color: #003366;
    font-weight: bold;
    margin: 0px;
    line-height: 20px;
    padding: 5px;
}

.gvHeader {
    text-align: left;
}

#divCustHeader {
    width: 100%;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

#divError {
    width: 100%;
    height: 10px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.hightlight {
    background-color: #EAFAFF;
    color: #003366;
}

.nohightlight {
    background-color: White;
}

.tblVDC {
    background-color: #F8F8F8;
    width: 100%;
    border: solid 1px #B9BFC1;
    margin-bottom: 5px;
}

.style2 {
    height: 30px;
}

.style3 {
    font-weight: bold;
}
